
/* Спецификация */

:root{
    --red-color: #ff3a2d;
    --text-darkgrey: #808080;
    --fontSize:.8rem;
}
body{
    padding: 0;
    margin: 0;
}
img, ul li{
    display: block;
}
.title{
    font-family: Sacramento, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: .02rem;
    text-align: center;
    color: var(--red-color);
    line-height: 0.5;
    margin-bottom: 0;

}
.subtitle{
    font-family: Lobster Two, sans-serif;
    font-size: 1.8rem;
    text-align: center;
    color: #222222;
    margin-bottom: 0;
}
.container-fluid{
    padding: 0;
    margin: 0;
}
a, a:hover, a:active{
    text-decoration: none;
    cursor: pointer;
}

/* ----Header---- */

.header{
    background-image: url("../img/head-back.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100vw 100vh;
    height: 95vh;
    position: relative;
}
.welcome-wrapper{
    padding: var(--fontSize) 0 1.5rem;
    /*height: 4rem;*/
}
.welcome{
    margin-left: 10%;
    /*padding-bottom: 6rem;*/
}
.header__welcome{
    color: #fff;
    font-family: Poppins, sans-serif;
    font-size: var(--fontSize);
 }
.header__welcome span{
    color: var(--red-color);
}
.header__form{
    position: relative;
}
.header__form input {
    width: 12.5rem;
    height: 1.5rem;
    background: #bfbdbb;
    border: none;
}
.header__search-btn{
    width: 1.875rem;
    height: 1.5rem;
    background-color: var(--red-color);
    border: none;
    position: absolute;
    top:0; right: 0;
}
.header__search-btn i{
    font-size: var(--fontSize);
    color: #fff;
    text-align: center;
    cursor: pointer;
    display: block;
}
input[type="text"]::-webkit-input-placeholder {
    font-weight: 600;
    font-family: Source Sans Pro, sans-serif;
    color: var(--text-darkgrey);
    font-size: var(--fontSize);
    position: relative;
    top:-3px; left: .7rem;
}
input[type="text"]:-ms-input-placeholder {
    font-weight: 600;
    font-family: Source Sans Pro, sans-serif;
    color: var(--text-darkgrey);
    font-size: var(--fontSize);
    position: relative;
    top:-3px; left: .7rem;
}
input[type="text"]::-ms-input-placeholder {
    font-weight: 600;
    font-family: Source Sans Pro, sans-serif;
    color: var(--text-darkgrey);
    font-size: var(--fontSize);
    position: relative;
    top:-3px; left: .7rem;
}
input[type="text"]::placeholder {
    font-weight: 600;
    font-family: Source Sans Pro, sans-serif;
    color: var(--text-darkgrey);
    font-size: var(--fontSize);
    position: relative;
    top:-3px; left: .7rem;
}
.header__delivery{
    color: #fff;
    font-family: Poppins,sans-serif;
    font-size: var(--fontSize);
}
.header__login{
    flex: 0 0 40%;
}
.header__login img{
    display: block;
}
.header__list-item img{
    display: inline-block;
    position: relative;
    top: -4.5px;
    left: 0;
}
.header__menu{
    background-color: #fff;
    position: relative;
}
.row__menu{
    height: 3.75rem;
}
 img.header__logo{
     display: block;
     position: absolute;
     top:-70%; left:30%;
 }
 a.header__list-item{
     margin-right: 1.8rem;
     font-size: var(--fontSize);
     font-family: Source Sans Pro, sans-serif;
     font-weight: bold;
     color: #000;
 }
 a.header__list-item_btn {
     color: #fff;
     display: inline-block;
     padding: .2rem 1rem;
     background: var(--red-color);
     border-radius: 0 .3rem;
 }
.header__text{
    padding-top: 8.6rem;
}
.title_header{
    color: #00c5d2;
    padding-top: 7rem;
    margin-bottom: 1rem;
    font-weight: bold;
}
.subtitle_header{
    margin-bottom: 2rem;
}
.header__text-description, .subtitle_header{
    color: #fff;
    font-weight: bold;
}
.header__text-description{
    width: 38rem;
    text-align: center;
    margin: 0 auto;
    font-size: var(--fontSize);
    line-height: 2;
    font-weight: normal;
}
.header__buttons{
     width: 30rem;
     margin: 3rem auto;
 }
.header__buttons a {
    color: #fff;
    font-size: var(--fontSize);
    padding: .6rem 2rem;
    border: 1px solid var(--red-color);
}
.header__buttons a:hover{
    color: #fff;
}
.btn_seemenu{
    margin-left: 2.8rem;
    background-color: var(--red-color);
}
.btn_aboutus{
    margin-left: 5.6rem;
}
.header__dots{
    width: 3rem;
    margin: 0 auto;
    position: absolute;
    bottom: 5%;left: 49%;
}
.header__dots img{
    display: inline-block;
    padding-top: 4rem;
}
.reddot{
    position: relative;
    top: -.31rem; left:0;
}

/*-----Welcome----*/

.welcome__all-wrapper{
    padding-top: 8.5rem;
    padding-bottom: 11rem;
}
.welcome-text__wrapper{
    flex: 0 0 50%;
    padding-top: 1rem;
}
.bookTable__wrapper{
    flex:0 0 40%;
    position: relative;

}
.bookTable__redPlace{
    min-height: 30.8rem;
    width: 20.25rem;
    background-color: var(--red-color);
}
.welcome__bookTable img{
    display: inline-block;
}
.welcome-form__wrapper{
    padding: 1rem;
}
p.welcome__bookTable{
    padding-top: 4rem;
    margin: 0 auto;
    text-align: center;
    font-family: Lobster Two, sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
    color: #fff;
}
button.btn.btn-secondary.btn-sm.btn-block.login-btn {
    margin-bottom: 2rem;
    background: linear-gradient(to right, #34bfe7, #0af2ee);
}
.welcome__greenLeave img{
    display: block;
    position: absolute;
    bottom: -6.5rem;
    right: -.1rem;
    z-index: -2;
}
.welcome__title{
    font-family:Lobster Two, sans-serif;
    font-style: italic;
    font-weight: bold;
    color: var(--red-color);
    font-size: 3rem;
    margin-bottom: 0;
    line-height: 0.8;
}
.welcome__subtitle{
    font-family:Lobster Two, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 1.8rem;
}
.welcome__arrow img{
    display: block;
    padding-bottom: 1.5rem;
}

.welcome__text{
    font-family: Poppins,sans-serif;
    font-size: var(--fontSize);
    color: var(--text-darkgrey);
    line-height: 2;
}
.welcome__signature img{
    display: block;
    padding-top: 5rem;
}
input[type="text"]::-webkit-input-placeholder {
    color: var(--text-darkgrey);
    font-weight: normal;
}

input[type="text"]:-ms-input-placeholder {
    color: var(--text-darkgrey);
    font-weight: normal;
}

input[type="text"]::-ms-input-placeholder {
    color: var(--text-darkgrey);
    font-weight: normal;
}

input[type="text"]::placeholder {
    color: var(--text-darkgrey);
    font-weight: normal;
}

/*----FutureItem-----*/

.futureItem__arrow img{
    display: block;
    margin: 0 auto;
    width:15%;
}

.dish-descr{
    font-family: Lobster Two, sans-serif;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 2rem;
}
.futureItem__carousel-wrapper{
    padding-top: 2.3rem;
    padding-bottom: 15rem;
    position: relative;
    width: 90vw;
    margin: 0 auto;
}
.owl-carousel .owl-carousel .owl-nav.disabled {
    display: block;
}
.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    top: 15%;
    right: -2%;
    outline-style: none;
}
.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-next:active{
    background: transparent;
    outline-style: none;

}
.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: 15%;
    left: -2%;
    outline-style: none;
}
.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-prev:active{
    background: transparent;
    outline-style: none;

}

/*-----Services----*/

.services{
    font-family: Poppins, sans-serif;
}
.services__text-wrapper{
    flex: 0 0 60%;
}
.services__text{
    padding-top: 5rem;
}
.services__woman-wrapper{
    flex: 0 0 40%;
}
.futureItem__text_services{
    text-align: left;
}
.services__arrow{
    margin-bottom: 2.5rem;
}
.services__description, .services__block-text{
    color: var(--text-darkgrey);
}
.services__block-title{
    font-weight: bold;
    color: #222;
    position: relative;
    cursor: pointer;
    margin: 0 0 1rem 1rem;
    padding-top: 1.5rem;
}
.services__block-title:before,
.services__block-title:after{
    content: "";
    width: .8rem;
    height: 1px;
    background-color: var(--text-darkgrey);
    position: absolute;
    top: 2rem;
    transition: all 0.5s ease;
}
.services__block-title:before{
    transform: rotate(-40deg);
    right: 10%;
}
.services__block-title:after{
    transform: rotate(40deg);
    right: 11.68%;
}
.services__block-title.active:before,
.services__block-title.active:after{
    background-color: #00c5d2;
}
.services__block-title.active, li.services__block-item.active{
    color: #00c5d2;
}
.services__block-title.active:before{
    transform: rotate(40deg);
}
.services__block-title.active:after{
    transform: rotate(-40deg);
}
.services__block-text{
    display: none;
    margin-bottom: 1rem;
}

/*----Delivery----*/

.delivery{
    background-image: url("../img/HomeDeliv/backgr.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100vw 100vh;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 11.25rem;
}
.delivery__card-wrapper{
    padding-top: 5.6rem;
    text-align: center;
}
.delivery__subtitle{
    color: #fff;
    padding: 1rem 0 1rem;
}
.delivery__card1, .delivery__card2, .delivery__card3{
    flex: 0 0 30%;
    height: 14rem;
    background-color: #fff;
    padding: 3.25rem 2rem 3rem;
    position: relative;
}
.card1__title{
    font-family: "Lobster Two", sans-serif;
    color: var(--red-color);
    font-size: 1.5rem;
    font-weight: 500;
}
.card1__text{
    color: var(--text-darkgrey);
    font-size: var(--fontSize);
}
img.select, img.online, img.hand{
    display: block;
    position: absolute;
    box-shadow:0 0 5px var(--text-darkgrey);
    background-color: #fff;
    border-radius: 0 1.2rem;
    top: -2rem; left: 37%;
}
img.select{
    padding: .3rem .6rem;
}
img.online{
    padding: .4rem .6rem;
}

/* ----- MainDish -----*/

.mainDish__subtitle{
    padding: 1rem 0;
}
.mainDish__menu-wrapper{
    padding-top: 5.625rem;
    padding-bottom: 4.625rem;
}
.menu__item{
    flex: 0 0 35%;
    margin-bottom: 3.125rem;
}
.mainDish__picture{
    margin-right: 1rem;
}
.mainDish__picture2{
    width: 90%;
}
.mainDish__menu-name a{
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: #4e4e4e;
    font-size: 1.2rem;
}
li.active a{
    color: var(--red-color);
    border-bottom: 1px solid var(--red-color);
}
.tabs__content{
    display: none !important;
}
.tabs__content.active{
    display: flex !important;
}
.mainDish__btn{
    padding-top: 4.5rem;
    padding-bottom: 12.5rem;
    width:11.8rem;
    height: 6rem;
    margin: 0 auto;
}
.mainDish__btn a{
    font-size: var(--fontSize);
    color: #fff;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    letter-spacing: .1rem;
    padding: 1.3rem 2.5rem;
    background-color: var(--red-color);
    border-radius: .5rem;
}

/*----Stuff-----*/

.stuff{
    position: relative;
}
.stuff__carousel-wrap{
    padding-bottom: 16rem;
    padding-top: 5rem;
}
.stuff__first, .stuff__second, .stuff__third{
    border: 3px solid rgba(214, 214, 214, 0.75);
    box-shadow: 0 0 2px 2px rgba(188, 188, 188, 0.16);
}
.owl-carousel.slider2 .owl-item img.human {
    display: block;
    width: 100%;
    margin: 0 auto;
}
.stuff__text-wrap{
   padding: 3rem;
    font-family: "Lobster Two", sans-serif;
}
.stuff__name{
    text-align: center;
    font-size: 1.4rem;
    color: #00c5d2;
}
.occupation{
    font-size: 1.2rem;
    color: var(--text-darkgrey);
}
.stuff__img-wrap{
    background: linear-gradient(to right, #34bfe7, #0af2ee);
}
.stuff__second{
    position: relative;
}
.owl-carousel.slider2 .owl-item img.photo__sign1, .owl-carousel.slider2 .owl-item img.photo__sign2{
    position: absolute;
    width:20%;
    opacity: unset;
}
.owl-carousel.slider2 .owl-item img.photo__sign1{
    top: 25%;left: 30%;
}
.owl-carousel.slider2 .owl-item img.photo__sign2{
    top: 25%; right: 20%;
}
.owl-carousel.slider2 .owl-item .stuff__img-wrap img{
    opacity: 20%;
}
.stuff__social-wrap i, span.stuff__social-item{
    color: var(--text-darkgrey);
    font-size: 1.1rem;
}
span.stuff__social-item{
    position: relative;
    top: -5px;
}
.stuff__social-wrap{
    padding-top: 1rem;
}
.owl-carousel.slider2 .owl-nav button.owl-next{
    top: 45%; right: -8%;
}
.owl-carousel.slider2 .owl-nav button.owl-prev {
    top: 45%; left: -8%;
}
.stuff__blue-circle img{
    position: absolute;
}
img.big-circle{
    top: 10%; left: 22%;
}
img.small-circle{
    bottom: 18%; right: 25%;
    z-index: -4;
}

































    /*---- Modal Window ----*/
.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1000;
}
.popup__overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.73);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup__body{
    width: 50vw;
    background-color: rgba(255, 255, 255, 0.82);
    padding: 30px;
    position: relative;
}
.popup__close{
    position: absolute;
    color: #00c5d2;
    top: 0;
    right:1%;
    font-size: 30px;
}
.popup__close:hover{
    color: #00c5d2;
}
.window{
    display: block;
}

/* ---- Log in----*/

.title__login{
    padding-bottom: 1.5rem;
}

.register-form-wrapper{
    border: 1px solid var(--text-darkgrey);
    padding: 2rem;
}
.login-btn{
    margin-top: .7rem;

}
.btn-group-sm >.btn, .btn-sm {
    padding: .45rem .5rem;
    font-size: 1.1rem;
}
.star{
    color: var(--red-color);
}
.checkbox-wrapper{
    margin-top: 2.8rem;
}

/*----------------------*/

/*---- Reservation----*/

.reserv_title{
    font-size: 2rem;
}
/*----------------------*/















