/* Спецификация */
:root{
    --red-color: #ff3a2d;
    --text-darkgrey: #808080;
}
body{
    padding: 0;
    margin: 0;
}
img, ul li{
    display: block;
}
.title{
    font-family: Sacramento, sans-serif;
    font-size: .8rem;
    text-align: center;
    color: var(--red-color);
}
.subtitle{
    font-family: Sacramento, sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #222222;
}
.container-fluid{
    padding: 0;
    margin: 0;
}
/* ----Header---- */
.header{
    background-image: url("../img/head-back.png");
   background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 95vh;
}
.welcome-wrapper{
    margin-left: 10%;
}
.header__welcome{
    color: #fff;
}
.header__delivery{
    color: #fff;
}
.header__login{
    flex: 0 0 40%;
}
.header__list-item img{
    display: inline-block;
}
.header__menu{
    background-color: #fff;
}

































